{% extends 'profile/layout.html' %}
{% load static %}



{% block content %}

<h3 class="content-header">Biblioteka</h3>

<div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table" id="book-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Wydawnictwo</th>
                        <th>Rok</th>
                        <th>Przeczytane</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'profile/library_table.html' %}
                </tbody>
            </table>
        </div>
        {{ author }}, {{ title }}, {{ publisher }}, {{ location }}, {{ isbn }}, {{ publication_date }}
    </div>
</div>


{% endblock %}