{% extends 'layout.html' %}
{% load static %}

{% block content %}

<h3 class="content-title">Biblioteka</h3>


<div class="jumotron">
    <div class="row">
        <div class="col-sm-12">
            <table style="width:100%">
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Wydawnictwo</th>
                    <th>Rok</th>
                    <th>Przeczytane</th>
                </tr>
                <tr>
                    <td>Władca Pierścieni</td>
                    <td>Tolkien, John Ronald Reuel</td>
                    <td>Czytelnik</td>
                    <td>1981</td>
                    <td><i class="fas fa-check"></i></td>
                </tr>
            </table>
        </div>

    </div>
</div>


{% endblock %}