{% load static %}

<nav class="navbar fixed-top navbar-expand-sm py-0" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}" id="logo-name"><i class="fas fa-book-open" id="logo-icon"></i>Bukifaj</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">

        {% if user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.username }}
                </a>
                <div class="dropdown-menu dropndown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'password_change' %}">Zmień hasło</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj się</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'dashboard' %}">Tablica</a>
                </div>
              </li>
            </ul>
        {% else %}
            <form class="form-inline my-2 my-sm-0">
                <a href="{% url 'signup' %}" class="btn btn-outline-secondary">Zarejestruj się</a>
                <a href="{% url 'login' %}" class="btn btn-outline-primary ml-2">Zaloguj się</a>
            </form>
        {% endif %}
      </div>
    </div>
</nav>
